<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ScheduleProvider"
            android:authorities="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />
        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.fileprovider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data android:resource="@xml/fileprovider" />-->
        <!--</provider>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>


        <activity
            android:name=".TermsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.TermsActivity" />
        </activity>
        <activity
            android:name=".TermEditorActivity"
            android:label="@string/edit_term"
            android:parentActivityName=".TermsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.TermsActivity" />
        </activity>
        <activity
            android:name=".AssessmentActivity"
            android:label="Assessments"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.MainActivity" />
        </activity>
        <activity
            android:name=".AssessmentEditorActivity"
            android:label="Assessments"
            android:parentActivityName=".AssessmentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.AssessmentActivity" />
        </activity>
        <activity
            android:name=".CoursesActivity"
            android:label="EditorActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.MainActivity" />
        </activity>
        <activity
            android:name=".AssessmentNoteEditorActivity"
            android:label="Edit Assessment Note"
            android:parentActivityName=".AssessmentEditorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.AssessmentEditorActivity" />
        </activity>
        <activity
            android:name=".CourseEditorActivity"
            android:label="@string/edit_course"
            android:parentActivityName=".CoursesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.CoursesActivity" />
        </activity>
        <activity
            android:name=".MentorActivity"
            android:label="@string/course_mentors"
            android:parentActivityName=".CourseEditorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.CourseEditorActivity" />
        </activity>
        <activity
            android:name=".MentorEditorActivity"
            android:label="@string/edit_mentor"
            android:parentActivityName=".MentorActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.MentorActivity" />

        <activity
            android:name=".CourseNoteActivity"
            android:label="@string/course_notes"
            android:parentActivityName=".CourseEditorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.CourseEditorActivity" />
        </activity>
        <activity
            android:name=".CourseNoteEditorActivity"
            android:label="@string/edit_course_note"
            android:parentActivityName=".CourseNoteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.CourseNoteActivity" />
        </activity>
        <activity
            android:name=".AssessmentAlertActivity"
            android:label="@string/assessment_alert"
            android:parentActivityName=".AssessmentEditorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.AssessmentEditorActivity" />
        </activity>
        <activity
            android:name=".AssessmentAlertEditorActivity"
            android:label="@string/edit_assessment_alert"
            android:parentActivityName=".AssessmentAlertActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.AssessmentAlertActivity" />
        </activity>
        <activity
            android:name=".AssessmentPhotoActivity"
            android:label="@string/assessment_note_photos"
            android:parentActivityName=".AssessmentNoteEditorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.AssessmentNoteEditorActivity" />
        </activity>
        <activity
            android:name=".AssessmentPhotoEditorActivity"
            android:label="@string/photo"
            android:parentActivityName=".AssessmentPhotoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meagerfindings.matgreten.c196_student_scheduler_mat_greten.AssessmentPhotoActivity" />
        </activity>
    </application>
</manifest>